/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}
$color1:#000;
$color2:#fff;
$color3:#808080;
$color4:#2f4f8e;
$color5:#f5f5f5;

$color6:#ff5722;
$color7:#80bbde;
$color8:#292929;


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}


body{
	@include flexbox;
	font-size: 14px;
	font-family: "SegoeUIItalic";
	flex-flow: column;
	font-display: swap;
	height: 100vh;
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
p{}
a{color:#020000}
h1{font-size:2.5rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}

.regular{
	font-family: "SegoeUIRegular";	
}

/* font-family: "SegoeUIRegular"; */
@font-face {
	font-family: "SegoeUIRegular";
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
	font-family: "SegoeUIBold";
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
	url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIItalic";
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIBoldItalic";
	src: url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot");
	src: url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.woff") format("woff"),
	url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

strong,
.bold{
	font-weight: normal;
	font-family: "SegoeUIBold";
}
em, i, 
.italic{
	font-style: normal;
	font-family: "SegoeUIItalic";
}

strong em,
em strong
{
	font-weight: normal;
	font-family: "SegoeUIBoldItalic";
}


.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control {
   border: 1px solid $color3;
   border-radius: 0;
   margin-top: 0.6rem;
	font-size: 16px;
	&:focus,
	&:active{
		border-color: $color5;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3)
	}
}


.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.title{
	font-size: 24px;
	color: $color4;
	margin-bottom: 20px;
	text-align: center;
}

.flexbox{
	display: flex;
}

.flexboxw{
	display: flex;
	flex-wrap: wrap;
}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* =header
---------------------------*/
.top,
header{
	// font-family: "SegoeUIRegular";
}

.mainnav{
	font-size: 18px;
	a{
		@extend .tdn;
	}
	.nav{
		display: flex;
		justify-content: center;
		margin-top: 35px;

		& > li{
			margin-left: 14px;
			margin-right: 14px;
			& > a{
				color: $color3;
			}
		}

		.subnav{
			display: none;
		}
	}	
}
/* =/header
---------------------------*/



/* =navigation
---------------------------*/
/* =/navigation
---------------------------*/


.text{
	padding-top: 10px;
	p{
		line-height: 1.8;
	}
}


.bg-color{
	background-color: $color5;
}
/* =main
---------------------------*/

.main{
	aside{
	}
}





