.icon{
	position: relative;
	&:after{
		@extend .before;
		left: 25px;
		top: 25px;
	}
	&-price {
		&:after{
			@include sprite($icon-price);
			margin-left: -12px;
			margin-top: -13px;
		}
	}
	&-warranty {
		&:after{
			@include sprite($icon-warranty);
			margin-left: -13px;
			margin-top: -17px;
		}
	}
	&-quality {
		&:after{
			@include sprite($icon-quality);
			margin-left: -10px;
			margin-top: -15px;
		}
	}
	&-time {
		&:after{
			@include sprite($icon-time);
			margin-left: -15px;
			margin-top: -15px;
		}
	}
	&-education {
		&:after{
			@include sprite($icon-education);
			margin-left: -18px;
			margin-top: -15px;
		}
	}
	&-conveniently {
		&:after{
			@include sprite($icon-conveniently);
			margin-left: -13px;
			margin-top: -15px;
		}
	}
}

.advantages{
	background: #f5f5f5;
	margin-top: 25px;
	padding-bottom: 20px;
	&__title{
		align-items: center;
		color: $color4;
		display: flex;
		font-family: 'PalatinoLinotype';
		font-size: 22px;
		height: 50px;
		margin-bottom: 10px;
		padding-left: 67px;
		position: relative;
		&:before{
			background-color: $color4;
			@extend .before;
			border-radius: 5px;
			height: 50px;
			width: 50px;
			left: 0;
			top: 0;
		}
	}
	&__text{
		// margin-top: 15px;
		padding-right: 35px;
	}
	.cell{
		margin-top: 22px;
		padding-left: 20px;
		width: 33.3%;
	}
}


/* =carousel
---------------------------*/
.carousel{
	font-size: 18px;
	color: $color3;
	.blue{
		color: $color4;
	}
	img{
		height: auto;
		vertical-align: top;
		width: 100%;
	}
	.slide{
		position: relative;
	}
	.action{
		display: flex;
		align-items: center;
		position: absolute;
		font-size: 18px;
		width: 236px;
		height: 272px;
		background: url(../images/label.png) no-repeat;
		color: $color2;
		position: absolute;
		top: 50%;
		margin-top: -135px;
		a{
			color: currentColor;
			@extend .tdu;
		}
		.more{
			font-family: 'PalatinoLinotypeItalic';			
			position: absolute;
			width: 100%;
			bottom: 65px;
		}
		&__title{
			text-transform: uppercase;
			font-family: 'PalatinoLinotype';
		}
	}

	.text{
		background: #f0f0f0;
		bottom: 0;
		font-family: 'PalatinoLinotype';
		height: 66px;
		padding-left: 60px;
		padding-right: 25px;
		position: absolute;
		right: 0;
		width: 47%;
		display: flex;
		align-items: center;
		&__inner{
			max-width: 470px;
		}
		&:before{
			@extend .before;
			background: url(../images/slider-text-edge.png) no-repeat left top;
			height: 66px;
			width: 77px;
			left: -77px;
			top: 0;
		}
	}
}
/* =/carousel
---------------------------*/


/* =brands
---------------------------*/
.brands{
	background-color: $color7;
	padding: 32px 0;
}
/* =/brands
---------------------------*/


/* =media
---------------------------*/
.media{
	&__list{
		display: flex;
		justify-content: space-around;
		margin: 40px 0 30px;
	}
	&__cell{
		position: relative;
	}
	&__inner{
		height: 165px;
		overflow: hidden;
		position: relative;
		width: 365px;
	}
	&__link{
		color: $color2;
		display: block;
		.media__pic{
			img{
				vertical-align: top;
				transition: .3s;
			}
		}

		&:hover{
			.media__pic img{
				filter: brightness(50%);
				transform: scale(1.1)
			}
		}
	}
	&__title{
		@extend .flex-center;
		font-family: 'PalatinoLinotype';
		font-size: 18px;
		position: absolute;
		text-align: center;
		top: 0;
		height: 100%;
		width: 100%;
	}
}
.badge{
	background-color: #2f4f8e ;
	border-radius: 5px;
	top: 140px;
	height: 50px;
	left: 50%;
	margin-left: -25px;
	position: absolute;
	width: 50px;
	z-index: 10;
	&:before{
		@extend .before;		
	}
	&-gal{
		&:before{
			@include sprite($icon-gal);
			left: 11px;
			top: 14px;
		}
	}
	&-video{
		&:before{
			@include sprite($icon-video);
			left: 14px;
			top: 14px;
		}
	}
	&-list{
		&:before{
			@include sprite($icon-list);
			left: 12px;
			top: 11px;
		}
	}
}
/* =/media
---------------------------*/


/* =news
---------------------------*/
.news{
	&__item{
		.media__link:hover{
			.news__more{
				color: $color4;
				text-decoration: underline;
			}
		}
	}
	&__body{
		background-color: $color9;
		color: $color3;
		font-size: 18px;
		font-family: 'PalatinoLinotype';
		padding-top: 35px;
		padding-bottom: 5px;
		text-align: center;
	}

	&__more{
		font-family: 'PalatinoLinotypeItalic';
		// color: $color4;
	}
}
/* =/news
---------------------------*/