.btn{
	align-items: center;
	background: #a8a8a8;
	border-radius: 32px;
	border: none;
	color: $color2;
	cursor: pointer;
	display: inline-flex;
	font-family: "SegoeUIItalic";
	height: 32px;
	justify-content: center;
	text-decoration: none;
	transition: .3s background-color;
	width: 185px;
	&:hover{
		background-color: $color4
	}
}


header.flexbox{
	align-items: center;
	margin-bottom: 25px;
	.title{
		flex-grow: 1;
		padding-left: 185px;
		margin-bottom: 0;
	}
}

.main{
	margin-top: 25px;
	h1.title{
		text-transform: uppercase;
	}
	h3{
		margin: 10px 0;
	}
	ul{
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		li{
			line-height: 1.8;
			position: relative;
			&:before{
				@extend .before;
				content: "-";
				display: block;
				position: absolute;
				left: -10px;
				top: 1px;
			}
		}
	}

	.media{
		&__list{
			margin-bottom: 50px;
			&-wrap{
				margin-bottom: -20px;
			}
		}
		&__title{
			margin: 0;
		}
	}

	img{
		max-width: 100%;
	}
}

main,
.main{
	.text{
		a{
			color: $color4;
			@extend .tdn;
		}
	}
}

.photos{
	.media{
		&__cell{
			margin-bottom: 40px;
		}
	}
}


.news__list{
	.badge{
		bottom: auto;
		top: 140px;
	}
}


.innercarousel{
	position: relative;
	min-height: 100px;
	img{
		height: auto;
		width: 100%;
	}
	.text{
		@extend .flex-center;
		color: $color2;
		display: flex;
		font-family: 'PalatinoLinotypeRegular';
		font-size: 27px;
		height: 100%;
		left: 0;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: 10;
		p{
			background: rgba(47, 79, 142, .55);
			padding: 10px 55px;
		}
	}
}


.pagination{
	position: relative;
	text-align: center;
	font-family: 'PalatinoLinotypeRegular';
	font-size: 20px;
	padding-top: 15px;
	margin-bottom: -18px;
	margin-top: 25px;
	&:before{
		@extend .before;
		background-image: linear-gradient(to right, #fff 0%, #97a7c6 50%, #97a7c6 51%, #fff 100%);
		top: 0;
		height: 1px;
		left: 0;
		width: 100%;
	}

	ul{
		display: flex;
		justify-content: center;
		margin: 0;

		li{
			margin: 0 5px;
			a{
				color: #666;
				text-decoration: none;
				&:hover{
					color: $color4;
				}
			}
			&:before{
				display: none;
			}
			.current{
				color: $color4;
				text-decoration: underline;
			}
		}
	}	
}


.actions{
	.media__cell{
		margin-bottom: 38px;
	}
}



/* =statistics
---------------------------*/
.statistics{
	margin: 30px 0 40px;
	color: $color8;
	font-family: 'PalatinoLinotype';
	text-align: center;
	.flexboxw{
		justify-content: space-around;
	}
	&__cell{
		background: $color9;
		border: 1px solid $color11;
		display: flex;
		flex-direction: column;
		height: 200px;
		justify-content: space-between;
		margin-top: 15px;
		padding: 3px 0 7px;
		width: 22%;
	}
	&__cifr{
		font-size: 48px;
	}
	&__title{
		font-size: 22px;
	}
}
/* =/statistics
---------------------------*/