@media (max-width: 1199px){
	.modal-dialog {
		width: 90%;
	}

	.qcart .to-cart,
	.qcart .count{
		white-space: nowrap;
	}


}


@media (max-width: 991px){
	.header{
		.flexbox{
			justify-content: center;
			flex-wrap: wrap;
		}
		.slogan{
			padding-left: 15px;
		}
		.callback,
		.qcart{
			margin-top: 15px;
			width: 45%;
		}
		.callback{

		}
	}

	.main .media{
		&__list{
			flex-wrap: wrap;
			margin-bottom: -40px;
		}
		&__cell{
			margin-bottom: 60px;
		}
	}

	.footer{
		.col-sm-12{
			margin-top: 20px;
		}
	}

	#totop{
		left: 80%;
	}
}

@media (max-width: 767px){
	.header{
		.top{
			padding: 0;
		}
		.flexbox{
			padding-top: 15px;
		}
	}
}

@media (max-width: 650px){
	.header{
		.slogan{
			padding-left: 0;
			width: 100%;
		}
		.logo{
			width: 100%;
		}
	}
	.user-access:checked + label:after {
		padding-top: 5px;
	}
}

@media (max-width: 550px){
	.header{
		.callback,
		.qcart{
			margin-left: 0;
			&__inner{
				padding-right: 0;
				padding-left: 0;
				&:before,
				&:after
				{
					display: none;
				}
			}
		}
		.callback,
		.qcart{
			text-align: center;
			width: 100%;
		}
	}

	.footer{
		padding-bottom: 60px !important;
	}

	#totop{
		left: 50%;
	}

	.user-access:checked + label:after {
		padding-top: 5px;
	}

	#callback-form{
		.user-access:checked+label:after{
			padding-top: 10px;
		}
	}

	.modal{
		top: 3%;
	}
}


@media (max-width: 400px){
	.header{
		.slogan{
			font-size: 20px;
		}
	}


	.media__inner{
		height: auto;
		width: auto;
	}

	.badge{
		top: auto !important;
		bottom: -20px;
	}
	.media__link .media__pic img{
		max-width: 100%;
		height: auto;
		width: auto;
	}

	.ya-share2__list_direction_horizontal > .ya-share2__item{
		margin-bottom: 5px !important;
	}

	.modal-dialog{
		padding-left: 10px;
		padding-right: 10px;
		width: 95%;
		.title{
			font-size: 20px;
			margin-bottom: 25px !important;
			padding-top: 25px;
		}
	}

	.uniform{
		margin-top: 20px;
	}

}


@media (max-width: 350px){
	.header{
		.logo{
			width: 150px;
			img{
				max-width: 100%
			}
		}
	}
}