// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-cart-name: 'icon-cart';
$icon-cart-x: 116px;
$icon-cart-y: 43px;
$icon-cart-offset-x: -116px;
$icon-cart-offset-y: -43px;
$icon-cart-width: 20px;
$icon-cart-height: 20px;
$icon-cart-total-width: 143px;
$icon-cart-total-height: 95px;
$icon-cart-image: '../images/sprite.png';
$icon-cart: (116px, 43px, -116px, -43px, 20px, 20px, 143px, 95px, '../images/sprite.png', 'icon-cart', );
$icon-conveniently-name: 'icon-conveniently';
$icon-conveniently-x: 0px;
$icon-conveniently-y: 66px;
$icon-conveniently-offset-x: 0px;
$icon-conveniently-offset-y: -66px;
$icon-conveniently-width: 26px;
$icon-conveniently-height: 29px;
$icon-conveniently-total-width: 143px;
$icon-conveniently-total-height: 95px;
$icon-conveniently-image: '../images/sprite.png';
$icon-conveniently: (0px, 66px, 0px, -66px, 26px, 29px, 143px, 95px, '../images/sprite.png', 'icon-conveniently', );
$icon-education-name: 'icon-education';
$icon-education-x: 0px;
$icon-education-y: 0px;
$icon-education-offset-x: 0px;
$icon-education-offset-y: 0px;
$icon-education-width: 36px;
$icon-education-height: 31px;
$icon-education-total-width: 143px;
$icon-education-total-height: 95px;
$icon-education-image: '../images/sprite.png';
$icon-education: (0px, 0px, 0px, 0px, 36px, 31px, 143px, 95px, '../images/sprite.png', 'icon-education', );
$icon-gal-name: 'icon-gal';
$icon-gal-x: 116px;
$icon-gal-y: 0px;
$icon-gal-offset-x: -116px;
$icon-gal-offset-y: 0px;
$icon-gal-width: 27px;
$icon-gal-height: 22px;
$icon-gal-total-width: 143px;
$icon-gal-total-height: 95px;
$icon-gal-image: '../images/sprite.png';
$icon-gal: (116px, 0px, -116px, 0px, 27px, 22px, 143px, 95px, '../images/sprite.png', 'icon-gal', );
$icon-house-name: 'icon-house';
$icon-house-x: 26px;
$icon-house-y: 66px;
$icon-house-offset-x: -26px;
$icon-house-offset-y: -66px;
$icon-house-width: 27px;
$icon-house-height: 27px;
$icon-house-total-width: 143px;
$icon-house-total-height: 95px;
$icon-house-image: '../images/sprite.png';
$icon-house: (26px, 66px, -26px, -66px, 27px, 27px, 143px, 95px, '../images/sprite.png', 'icon-house', );
$icon-list-name: 'icon-list';
$icon-list-x: 66px;
$icon-list-y: 30px;
$icon-list-offset-x: -66px;
$icon-list-offset-y: -30px;
$icon-list-width: 26px;
$icon-list-height: 29px;
$icon-list-total-width: 143px;
$icon-list-total-height: 95px;
$icon-list-image: '../images/sprite.png';
$icon-list: (66px, 30px, -66px, -30px, 26px, 29px, 143px, 95px, '../images/sprite.png', 'icon-list', );
$icon-list2-name: 'icon-list2';
$icon-list2-x: 36px;
$icon-list2-y: 0px;
$icon-list2-offset-x: -36px;
$icon-list2-offset-y: 0px;
$icon-list2-width: 30px;
$icon-list2-height: 30px;
$icon-list2-total-width: 143px;
$icon-list2-total-height: 95px;
$icon-list2-image: '../images/sprite.png';
$icon-list2: (36px, 0px, -36px, 0px, 30px, 30px, 143px, 95px, '../images/sprite.png', 'icon-list2', );
$icon-price-name: 'icon-price';
$icon-price-x: 53px;
$icon-price-y: 66px;
$icon-price-offset-x: -53px;
$icon-price-offset-y: -66px;
$icon-price-width: 24px;
$icon-price-height: 27px;
$icon-price-total-width: 143px;
$icon-price-total-height: 95px;
$icon-price-image: '../images/sprite.png';
$icon-price: (53px, 66px, -53px, -66px, 24px, 27px, 143px, 95px, '../images/sprite.png', 'icon-price', );
$icon-quality-name: 'icon-quality';
$icon-quality-x: 96px;
$icon-quality-y: 0px;
$icon-quality-offset-x: -96px;
$icon-quality-offset-y: 0px;
$icon-quality-width: 20px;
$icon-quality-height: 31px;
$icon-quality-total-width: 143px;
$icon-quality-total-height: 95px;
$icon-quality-image: '../images/sprite.png';
$icon-quality: (96px, 0px, -96px, 0px, 20px, 31px, 143px, 95px, '../images/sprite.png', 'icon-quality', );
$icon-tel-name: 'icon-tel';
$icon-tel-x: 66px;
$icon-tel-y: 0px;
$icon-tel-offset-x: -66px;
$icon-tel-offset-y: 0px;
$icon-tel-width: 30px;
$icon-tel-height: 30px;
$icon-tel-total-width: 143px;
$icon-tel-total-height: 95px;
$icon-tel-image: '../images/sprite.png';
$icon-tel: (66px, 0px, -66px, 0px, 30px, 30px, 143px, 95px, '../images/sprite.png', 'icon-tel', );
$icon-time-name: 'icon-time';
$icon-time-x: 36px;
$icon-time-y: 30px;
$icon-time-offset-x: -36px;
$icon-time-offset-y: -30px;
$icon-time-width: 30px;
$icon-time-height: 30px;
$icon-time-total-width: 143px;
$icon-time-total-height: 95px;
$icon-time-image: '../images/sprite.png';
$icon-time: (36px, 30px, -36px, -30px, 30px, 30px, 143px, 95px, '../images/sprite.png', 'icon-time', );
$icon-video-name: 'icon-video';
$icon-video-x: 116px;
$icon-video-y: 22px;
$icon-video-offset-x: -116px;
$icon-video-offset-y: -22px;
$icon-video-width: 21px;
$icon-video-height: 21px;
$icon-video-total-width: 143px;
$icon-video-total-height: 95px;
$icon-video-image: '../images/sprite.png';
$icon-video: (116px, 22px, -116px, -22px, 21px, 21px, 143px, 95px, '../images/sprite.png', 'icon-video', );
$icon-warranty-name: 'icon-warranty';
$icon-warranty-x: 0px;
$icon-warranty-y: 31px;
$icon-warranty-offset-x: 0px;
$icon-warranty-offset-y: -31px;
$icon-warranty-width: 27px;
$icon-warranty-height: 35px;
$icon-warranty-total-width: 143px;
$icon-warranty-total-height: 95px;
$icon-warranty-image: '../images/sprite.png';
$icon-warranty: (0px, 31px, 0px, -31px, 27px, 35px, 143px, 95px, '../images/sprite.png', 'icon-warranty', );
$spritesheet-width: 143px;
$spritesheet-height: 95px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-cart, $icon-conveniently, $icon-education, $icon-gal, $icon-house, $icon-list, $icon-list2, $icon-price, $icon-quality, $icon-tel, $icon-time, $icon-video, $icon-warranty, );
$spritesheet: (143px, 95px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
